In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC , LinearSVC
import sklearn

In [47]:
df_test = pd.read_csv('/Users/pouya/Machine Learning Course/test_titanic.csv')
df_test.shape

(418, 11)

In [48]:
df = pd.read_csv('/Users/pouya/Machine Learning Course/train_titanic.csv')
df.shape

(891, 12)

In [27]:
#df.head(3)

In [26]:
#df_test.head(3)

In [7]:
#preprocessing

In [49]:
def f(name):
    if '.' in name:
        return name.split(',')[1].split('.')[0].strip()
    else:
        return 'Unknown'
    
    
def g(tt):
    if tt in ['Mr']:
        return 1
    elif tt in ['Master']:
        return 3
    elif tt in ['Ms','Mlle','Miss']:
        return 4
    elif tt in ['Mrs','Mme']:
        return 5
    else:
        return 2

In [50]:
df['title']= df['Name'].apply(f).apply(g)
    
df_test['title']= df_test['Name'].apply(f).apply(g)

In [51]:
df= df.drop(['PassengerId','Name','Ticket'],axis=1)
df_test= df_test.drop(['PassengerId','Name','Ticket'],axis=1)

In [52]:
edt= pd.get_dummies(df['Embarked'])
edt.drop(['S'],axis=1,inplace=True)
edt_test = pd.get_dummies(df_test['Embarked'])
edt_test.drop(['S'],axis=1,inplace=True)

In [53]:
df= df.join(edt)
df_test= df_test.join(edt_test)

In [54]:
df.drop(['Embarked'],axis=1, inplace=True)
df_test.drop(['Embarked'],axis=1, inplace=True)

In [55]:
df_test['Fare'].fillna(df_test['Fare'].median(),inplace=True)

In [56]:
df['Age']= df.groupby(['Pclass'])['Age'].transform(lambda x:x.fillna(x.mean()))
df_test['Age']= df_test.groupby(['Pclass'])['Age'].transform(lambda x :x.mean())

In [57]:
df.drop(['Cabin'],axis=1,inplace=True)
df_test.drop(['Cabin'],axis=1,inplace=True)

In [66]:
s= sorted(df['Sex'].unique())
z= zip(s,range(0,len(s)+1))
gm= dict(z)

df['sex']= df['Sex'].map(gm).astype(int)
df.drop(['Sex'],axis=1,inplace=True)

df.head(5)

   Pclass   Age  SibSp  Parch     Fare  Survived  title  C  Q  sex
0       3  22.0      1      0   7.2500         0      1  0  0    1
1       1  38.0      1      0  71.2833         1      5  1  0    0
2       3  26.0      0      0   7.9250         1      4  0  0    0
3       1  35.0      1      0  53.1000         1      5  0  0    0
4       3  35.0      0      0   8.0500         0      1  0  0    1

In [40]:
##e = pd.get_dummies(df['Sex'])
#e_test= pd.get_dummies(df_test['Sex'])

In [41]:
#df= df.join(e)
#df_test= df_test.join(e)

In [69]:
df_test.head(5)

   Pclass  Sex        Age  SibSp  Parch     Fare  title  C  Q
0       3    1  24.027945      0      0   7.8292      1  0  1
1       3    0  24.027945      1      0   7.0000      5  0  0
2       2    1  28.777500      0      0   9.6875      1  0  1
3       3    1  24.027945      0      0   8.6625      1  0  0
4       3    0  24.027945      1      1  12.2875      5  0  0

In [70]:
Xtrain= df.drop('Survived',axis=1)
X= Xtrain
Ytrain= df['Survived']
y= Ytrain

In [71]:
model=LogisticRegression()

In [72]:

model.fit(X,y)

/Users/pouya/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [73]:
model.score(X,y)

0.8249158249158249